In [ ]:
%pip install gradio
import gradio as gr

## Diabetes Pred

In [ ]:
def main(Pregnancies,Glucose_level,BP,skin_thickness,Insulin,BMI,Diabetes_Function,Age):
  #%pip install numpy
  #%pip install pandas 
  #%pip install matplotlib
  #%pip install sklearn
  #%pip install gradio
  import numpy as np # linear algebra
  import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
  import matplotlib.pyplot as plt
  import gradio as gr
  from sklearn.model_selection import train_test_split
  from sklearn.linear_model import LogisticRegression
  from sklearn.metrics import accuracy_score
  from sklearn.model_selection import cross_val_score
  from sklearn.metrics import r2_score

  url="https://raw.githubusercontent.com/ADITHYASNAIR2021/Dataset-cart/main/diabetes.csv"
  diabetes_df = pd.read_csv(url)
  diabetes_df = diabetes_df.values
  X= diabetes_df[:,0:8] #Predictors
  y = diabetes_df[:,8] #Target 
  X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.25)

  Log_reg = LogisticRegression(fit_intercept=True,C=1e15,solver='newton-cg',max_iter=300,penalty='l2',multi_class='ovr')
  Log_reg.fit(X_train,y_train)
  Log_pred = Log_reg.predict(X_test)

  #Accuracy
  lor_accuracy = accuracy_score(y_test,Log_pred)

  #Cross Validation
  logreg = LogisticRegression(max_iter=1500)
  scores_Log = cross_val_score(logreg , X_train , y_train , cv=20)
  scores_Log = scores_Log.mean()

  data = {'Pregancies':Pregnancies,'Glucose':Glucose_level,'BloodPressure':BP,'SkinThickness':skin_thickness,'Insulin':Insulin,'BMI':BMI,'DiabetesPedigreeFunction':Diabetes_Function,'Age':Age}
  index = [0]
  cust_df = pd.DataFrame(data, index)
  
  # Main output prediction 
  costpredLog = Log_reg.predict(cust_df)

  #Get the patients BMI information 

  if BMI == 0: 
        Bmi_eval="NA"

  elif BMI < 18.5: 
         Bmi_eval="You are Underweight" 

  elif BMI < 24.9: 
        Bmi_eval =" You have Normal weight"

  elif BMI >= 25 and BMI < 29.9: 
        Bmi_eval = " You are Pre Obese"

  elif BMI >= 30 and BMI < 34.9: 
        Bmi_eval = " You have class 1 Obesity "

  elif BMI >= 35 and BMI < 39.9: 
        Bmi_eval = " You have class 2 Obesity "

  elif BMI >= 40: 
        Bmi_eval ="You have class 3 obesity "

  else: 
       Bmi_eval = BMI

   # Get the patients Diabetic information 

  if Glucose_level == 0: 
        Glucose_Eval ="NA"
    
  elif Glucose_level <= 140: 
        Glucose_Eval="You have Normal Glucose Level"
    
  elif Glucose_level > 140 and Glucose_level < 198: 
        Glucose_Eval="you have Impaired Glucose Tolerance"
        
  elif Glucose_level > 198: 
        Glucose_Eval="You have high Glucose Level "
        
  else: 
        Glucose_Eval = Glucose_level

 # Final prediction 

  if costpredLog ==0:
    Prediction = "There is less chance for the patient to catch with diabetes"

  else:
    Prediction = "There is more of a chance for the patient to catch diabetes."

  return  Prediction,Bmi_eval,Glucose_Eval

In [ ]:
iface = gr.Interface(fn = main,
                     
inputs =['number','number','number','number','number','number','number','number'],

outputs =['text','text','text'],

title="Onset of Diabetes prediction",

examples=[[2,120,120,25,20,25,1,25],[5,200,200,50,160,30,2,30]],

description ='''    Description
 
Some health issues are more serious than others. Example of an extremely serious health issue is diabetes, which is an all-too-common condition
It is important for people with diabetes to be diagnosed and treated as soon as possible, as high blood sugar levels can damage body organs and tissue,
resulting in complications such as nerve damage, kidney damage, heart attacks, strokes, peripheral vascular disease etc. While some risk factors of 
developing diabetes cannot be changed, making healthy lifestyle choices can dramatically reduce a person’s chances of developing it. 

As we face these high numbers of diabetes and prediabetes cases, it’s important that everyone learns as much as they can about recognizing and preventing diabetes. 
All these points emphasis that diabetes can be really bad if not diagnosed properly so, 
with this AI tool we can predict the onset of diabetes among people which will help them to adjust their lifestyles and other things correctly to prevent the diabetes in future.
                     

    Output0 - Describes the Prediction made
    Output1 - Analyse of BMI
    Output2 - Analysis of Glucose level


For more details about the Inputs taken and how it needed to be taken view the bottom artice about this page.
''',

article=''' Website created with Gradio for AIHacks4Good 

Dataset used is :- PIMA INDIANS DIABETES DATASET 

Description of the dataset used :- The Pima Indian Diabetes Dataset, originally from the National Institute of Diabetes and Digestive and Kidney Diseases, 
contains information of 768 women from a population near Phoenix, Arizona, USA. The outcome tested was Diabetes, 258 tested positive and 500 tested negative. 
Therefore, there is one target (dependent) variable and the following attributes (TYNECKI, 2018):

* Pregnancies (number of times pregnant)

* glucose - two hour plasma glucose concentration after 75g anhydrous glucose in mg/dl (Can check using Glucometer at home, or at a clinic)

* Blood Pressure (Diastolic Blood Pressure in mmHg)

* Skin Thickness (Triceps skin fold thickness in mm)

* Insulin Resistance (2 h serum insulin in mu U/ml)( Results could be obtained from a Clinic )

* BMI (Body Mass Index in kg/m2), BMI can be calculated using the equation  = Weight/(Height²)

* Age (years)

* Pedigree Diabetes Function ('function that represents how likely they are to get the disease by extrapolating from their ancestor’s history' )
Generally its between 0 - 2.5, if there wasn't any ancestorial history of diabetes you can choose between 0 and 1, and if there is any so can select between 1 - 2.5 regarding the seriousness in family.

To know more about the Tricep skin fold thickness measure 
visit this link:- https://ibb.co/4NDNNx1

Dataset Link - https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database

Reference 1 = https://rpubs.com/ikodesh/53189

Reference 2 = https://www.diabetes.co.uk/oral-glucose-tolerance-test.html 

''')

iface.launch(debug = True,share=True)

## HEART FAILURE PREDICTION

In [ ]:
import numpy
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import*
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Lasso
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

In [ ]:
d=pd.read_csv("https://raw.githubusercontent.com/akarshsnair/Dataset-cart/main/heart.csv")
d.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
d.info()
d.describe()

In [ ]:
d.isnull().sum()

In [ ]:
d['HeartDisease'].value_counts()

In [ ]:
for col in d.columns:
    if d[col].dtype == 'object':
        d[col] = LabelEncoder().fit_transform(d[col])

d.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [ ]:
sns.pairplot(d, hue="HeartDisease", diag_kws={'bw': 0.2})

In [ ]:
logistic=LogisticRegression()
decision=DecisionTreeClassifier()
randomforest=RandomForestClassifier(n_estimators=100, criterion = 'gini', random_state=1)
knn=KNeighborsClassifier()
svm=SVC(probability=True)

In [ ]:
models=[logistic,decision,randomforest,knn,svm]

In [ ]:
xdf=d.drop("HeartDisease",axis=1)
ydf=d["HeartDisease"]
x_train,x_test,y_train,y_test=train_test_split(xdf,ydf,test_size=0.35,random_state=20)

In [ ]:
mms=MinMaxScaler(feature_range=(0,1))
x_train=mms.fit_transform(x_train)
x_test=mms.fit_transform(x_test)
x_train=pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)

In [ ]:
for i in range(1):
    name=['Logistic Regression', 'Decision Tree', 'Random Forest',  'KNN', 'SVM']
    acc=[]
    mae=[]
    for algo in models:
        algo.fit(x_train,y_train)
        predictions=algo.predict(x_test)
        TP, FN, FP, TN = confusion_matrix(y_test,predictions,labels=[1,0]).reshape(-1)
        acy = round((TP+TN)/(TP+FP+TN+FN), 3)
        acc.append(round(acy*100, 2))
        mae.append(mean_absolute_error(y_test,predictions))
    data={"Model":name,"Accuracy":acc,"Mean Absolute Error":mae}
    result=pd.DataFrame(data)
    display(result)

In [ ]:
def cancer(Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope):
  import numpy
  import matplotlib.pyplot as plt
  import pandas as pd
  import seaborn as sns
  from sklearn.preprocessing import LabelEncoder
  from sklearn.model_selection import train_test_split
  from sklearn.preprocessing import StandardScaler
  from sklearn.tree import DecisionTreeClassifier
  from sklearn.metrics import r2_score
  from sklearn.metrics import accuracy_score
  from sklearn.model_selection import train_test_split
  from sklearn.linear_model import LinearRegression
  from sklearn.linear_model import LogisticRegression
  from sklearn.tree import DecisionTreeClassifier
  from sklearn.ensemble import RandomForestClassifier
  from sklearn.linear_model import Lasso
  from sklearn.neighbors import KNeighborsClassifier
  from sklearn.svm import SVC
  from sklearn.preprocessing import MinMaxScaler
  from sklearn.ensemble import RandomForestRegressor
  d=pd.read_csv("https://raw.githubusercontent.com/akarshsnair/Dataset-cart/main/heart.csv")
  for col in d.columns:
      if d[col].dtype == 'object':
          d[col] = LabelEncoder().fit_transform(d[col])
  svm=SVC(probability=True)
  xdf=d.drop("HeartDisease",axis=1)
  ydf=d["HeartDisease"]
  x_train,x_test,y_train,y_test=train_test_split(xdf,ydf,test_size=0.35,random_state=20)
  mms=MinMaxScaler(feature_range=(0,1))
  x_train=mms.fit_transform(x_train)
  x_test=mms.fit_transform(x_test)
  x_train=pd.DataFrame(x_train)
  x_test=pd.DataFrame(x_test)
  svm=SVC(probability=True)
  svm.fit(x_train,y_train)
  predictions=svm.predict(x_test)
  data = {'Age':Age,'Sex':Sex,'Chest Pain Type':ChestPainType,'Resting Blood Pressure':RestingBP,'Cholesterol level ':Cholesterol,'Fasting Blood Sugar':FastingBS,'Resting E.C.G':RestingECG,'Maximum Heart Rate achieved ':MaxHR,'Exercise induced Angina ':ExerciseAngina,'Old peak':Oldpeak,'ST_Slope':ST_Slope}
  index = [0]
  cust_df = pd.DataFrame(data, index)
  costpredLog = svm.predict(cust_df)
  if costpredLog ==0:
    Prediction = "There is less chance for the patient to catch with heart disease"
  else:
    Prediction = "There is more of a chance for the patient to catch heart disease."
  return  Prediction

In [ ]:
iface = gr.Interface(fn = main,
                     
inputs =['number','number','number','number','number','number','number','number','number','number','number'],

outputs =['text'],

title="Onset of heart disease failure prediction",

description ='''    Description
Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide. Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality by heart failure.

Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.


''',

article=''' article

''')

iface.launch(debug = True,share=True)

## Stroke Prediction

In [ ]:
import numpy
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [ ]:
url = "https://raw.githubusercontent.com/ADITHYASNAIR2021/Dataset-cart/main/stroke%20data.csv"
data = pd.read_csv(url)
data.drop("id",axis=1,inplace=True)
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
data.dtypes

gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
data.info

<bound method DataFrame.info of       gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  67.0             0              1          Yes        Private
1     Female  61.0             0              0          Yes  Self-employed
2       Male  80.0             0              1          Yes        Private
3     Female  49.0             0              0          Yes        Private
4     Female  79.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
5105  Female  80.0             1              0          Yes        Private
5106  Female  81.0             0              0          Yes  Self-employed
5107  Female  35.0             0              0          Yes  Self-employed
5108    Male  51.0             0              0          Yes        Private
5109  Female  44.0             0              0          Yes       Govt_job

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban             228.69  36.6  formerly smoked       1
1             Rural             202.21   NaN     never smoked       1
2             Rural             105.92  32.5     never smoked       1
3             Urban             171.23  34.4           smokes       1
4             Rural             174.12  24.0     never smoked       1
...             ...                ...   ...              ...     ...
5105          Urban              83.75   NaN     never smoked       0
5106          Urban             125.20  40.0     never smoked       0
5107          Rural              82.99  30.6     never smoked       0
5108          Rural             166.29  25.6  formerly smoked       0
5109          Urban              85.28  26.2          Unknown       0

[5110 rows x 11 columns]>

In [ ]:
data.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
data.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
data['bmi'].fillna(method="ffill",limit=1,inplace =True)
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,36.6,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
label_encoder = LabelEncoder()
data['gender']= label_encoder.fit_transform(data['gender'])
data['ever_married']= label_encoder.fit_transform(data['ever_married'])
data['work_type']= label_encoder.fit_transform(data['work_type'])
data['Residence_type']= label_encoder.fit_transform(data['Residence_type'])
data['smoking_status']= label_encoder.fit_transform(data['smoking_status'])
data.head(20)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.6,1,1
1,0,61.0,0,0,1,3,0,202.21,36.6,2,1
2,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,1,81.0,0,0,1,2,1,186.21,29.0,1,1
6,1,74.0,1,1,1,2,0,70.09,27.4,2,1
7,0,69.0,0,0,0,2,1,94.39,22.8,2,1
8,0,59.0,0,0,1,2,0,76.15,22.8,0,1
9,0,78.0,0,0,1,2,1,58.57,24.2,0,1
10,0,81.0,1,0,1,2,0,80.43,29.7,2,1
11,0,61.0,0,1,1,0,0,120.46,36.8,3,1
12,0,54.0,0,0,1,2,1,104.51,27.3,3,1
13,1,78.0,0,1,1,2,1,219.84,27.3,0,1
14,0,79.0,0,1,1,2,1,214.09,28.2,2,1
15,0,50.0,1,0,1,3,0,167.41,30.9,2,1
16,1,64.0,0,1,1,2,1,191.61,37.5,3,1
17,1,75.0,1,0,1,2,1,221.29,25.8,3,1
18,0,60.0,0,0,0,2,1,89.22,37.8,2,1
19,1,57.0,0,1,0,0,1,217.08,37.8,0,1

In [ ]:
data.tail()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,0,80.0,1,0,1,2,1,83.75,18.6,2,0
5106,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [ ]:
data['bmi'].fillna(method="ffill",limit=10,inplace =True)

In [ ]:
data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
ydf=data['stroke']
xdf=data.drop('stroke',axis=1)
data=pd.DataFrame(data)

In [ ]:
data['avg_glucose_level'] = data['avg_glucose_level'].astype(int)
data['bmi'] = data['bmi'].astype(int)
data['age'] = data['age'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   int64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   int64
 5   work_type          5110 non-null   int64
 6   Residence_type     5110 non-null   int64
 7   avg_glucose_level  5110 non-null   int64
 8   bmi                5110 non-null   int64
 9   smoking_status     5110 non-null   int64
 10  stroke             5110 non-null   int64
dtypes: int64(11)
memory usage: 439.3 KB

In [ ]:

logistic=LogisticRegression()
decision=DecisionTreeClassifier()
randomforest=RandomForestClassifier(n_estimators=100, criterion = 'gini', random_state=1)
knn=KNeighborsClassifier()
svm=SVC(probability=True)
x_train,x_test,y_train,y_test=train_test_split(xdf,ydf,test_size=0.35,random_state=20)
mms=MinMaxScaler(feature_range=(0,1))
x_train=mms.fit_transform(x_train)
x_test=mms.fit_transform(x_test)
x_train=pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)
models=[logistic,decision,randomforest,knn,svm]

In [ ]:
for i in range(1):
    name=['Logistic Regression', 'Decision Tree', 'Random Forest',  'KNN', 'SVM']
    acc=[]
    mae=[]
    for algo in models:
        algo.fit(x_train,y_train)
        predictions=algo.predict(x_test)
        TP, FN, FP, TN = confusion_matrix(y_test,predictions,labels=[1,0]).reshape(-1)
        acy = round((TP+TN)/(TP+FP+TN+FN), 3)
        acc.append(round(acy*100, 2))
        mae.append(mean_absolute_error(y_test,predictions))
    data={"Model":name,"Accuracy":acc,"Mean Absolute Error":mae}
    result=pd.DataFrame(data)
    display(result)

                 Model  Accuracy  Mean Absolute Error
0  Logistic Regression      95.2             0.047513
1        Decision Tree      90.2             0.098379
2        Random Forest      95.1             0.048631
3                  KNN      95.1             0.049189
4                  SVM      95.2             0.047513

In [ ]:
def main(gender	,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi	,smoking_status):
  #%pip install numpy
  #%pip install pandas 
  #%pip install matplotlib
  #%pip install sklearn
  #%pip install gradio
  import numpy as np # linear algebra
  import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
  import matplotlib.pyplot as plt
  import gradio as gr
  from sklearn.model_selection import train_test_split
  from sklearn.linear_model import LogisticRegression
  from sklearn.metrics import accuracy_score
  from sklearn.model_selection import cross_val_score
  from sklearn.metrics import r2_score

  url="https://raw.githubusercontent.com/ADITHYASNAIR2021/Dataset-cart/main/diabetes.csv"
  diabetes_df = pd.read_csv(url)
  diabetes_df = diabetes_df.values

  X= diabetes_df[['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi'	,'smoking_status']] #Predictors
  y = diabetes_df[['stroke']] #Target
  diabetes_df=pd.DataFrame(diabetes_df)
  diabetes_df['avg_glucose_level'] = diabetes_df['avg_glucose_level'].astype(int)
  diabetes_df['bmi'] = diabetes_df['bmi'].astype(int)
  diabetes_df['age'] = diabetes_df['age'].astype(int) 
  X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.25)

  Log_reg = LogisticRegression(fit_intercept=True,C=1e15,solver='newton-cg',max_iter=300,penalty='l2',multi_class='ovr')
  Log_reg.fit(X_train,y_train)
  Log_pred = Log_reg.predict(X_test)

  #Accuracy
  lor_accuracy = accuracy_score(y_test,Log_pred)

  #Cross Validation
  logreg = LogisticRegression(max_iter=1500)
  scores_Log = cross_val_score(logreg , X_train , y_train , cv=20)
  scores_Log = scores_Log.mean()

  data = {'gender':gender,'age':age,'hypertension':hypertension,'heart_disease':heart_disease,'ever_married':ever_married,'work_type':work_type,'Residence_type':Residence_type,'avg_glucose_level':avg_glucose_level,'bmi':bmi,'smoking_status':smoking_status}
  index = [0]
  cust_df = pd.DataFrame(data, index)
  
  # Main output prediction 
  costpredLog = Log_reg.predict(cust_df)
  if costpredLog ==0:
    Prediction = "There is less chance for the patient to have Lung Cancer"

  else:
    Prediction = "There is more of a chance for the patient to have Lung Cancer."

  return  Prediction

In [ ]:
iface = gr.Interface(fn = main,
                     
inputs =['number','number','number','number','number','number','number','number','number','number'],

outputs =['text'],

title="Onset of Stroke prediction",

description ='''    Description
 
Stroke is a disease that affects the arteries leading to and within the brain. A stroke occurs when a blood vessel that carries oxygen and nutrients to the brain is either blocked by a clot or ruptures. According to the WHO, stroke is the 2nd leading cause of death worldwide.

Globally, 3% of the population are affected by subarachnoid hemorrhage, 10% with intracerebral hemorrhage, and the majority of 87% with ischemic stroke. 80% of the time these strokes can be prevented, so putting in place proper education on the signs of stroke is very important. The existing research is limited in predicting risk factors pertained to various types of strokes.

Early detection of stroke is a crucial step for efficient treatment and ML can be of great value in this process. To be able to do that, Machine Learning (ML) is an ultimate technology which can help health professionals make clinical decisions and predictions. During the past few decades, several studies were conducted on the improvement of stroke diagnosis using ML in terms of accuracy and speed.

The existing research is limited in predicting whether a stroke will occur or not.

gender	
age	
hypertension	=> Yes = 1, No = 0
heart_disease	=> Yes = 1, No = 0
ever_married	=> Yes = 1, No = 0
work_type	=> govt , student , private , self employed 
Residence_type	=> urban , rural 
avg_glucose_level
bmi	
smoking_status => unknown , formerly smokes, never smokes , smoking
''',

article=''' article

''')

iface.launch(debug = True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().

Using Embedded Colab Mode (NEW). If you have issues, please use share=True and file an issue at https://github.com/gradio-app/gradio/
Note: opening the browser inspector may crash Embedded Colab Mode.

To create a public link, set `share=True` in `launch()`.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/gradio/routes.py", line 290, in run_predict
    fn_index, raw_input, username, session_state, iterators
  File "/usr/local/lib/python3.7/dist-packages/gradio/blocks.py", line 982, in process_api
    result = await self.call_function(fn_index, inputs, iterator)
  File "/usr/local/lib/python3.7/dist-packages/gradio/blocks.py", line 825, in call_function
    block_fn.fn, *processed_input, limiter=self.limiter
  File "/usr/local/lib/python3.7/dist-packages/anyio/to_thread.py", line 32, in run_sync
    func, *args, cancellable=cancellable, limiter=limiter
  File "/usr/local/lib/python3.7/dist-packages/anyio/_backends/_asyncio.py", line 937, in run_sync_in_worker_thread
    return await future
  File "/usr/local/lib/python3.7/dist-packages/anyio/_backends/_asyncio.py", line 867, in run
    result = context.run(func, *args)
  File "<ipython-input-143-fc0e62b73002>", line 21, in main
    X= diabetes_df[['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi'	,'smoking_status']] #Predictors
IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

## Cancer prediction

In [ ]:
#!pip install gradio 
import gradio as gr
import numpy
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [ ]:
url="https://raw.githubusercontent.com/ADITHYASNAIR2021/Dataset-cart/main/Lung%20Cancer.csv"
data = pd.read_csv(url)
data.head()

,Patient Id,Age,Gender,AirPollution,Alcoholuse,DustAllergy,OccuPationalHazards,GeneticRisk,chronicLungDisease,BalancedDiet,...,Fatigue,WeightLoss,ShortnessofBreath,Wheezing,SwallowingDifficulty,ClubbingofFingerNails,FrequentCold,DryCough,Snoring,Level
0,P1,33,1,2,4,5,4,3,2,2,...,3,4,2,2,3,1,2,3,4,Low
1,P10,17,1,3,1,5,3,4,2,2,...,1,3,7,8,6,2,1,7,2,High
2,P100,35,1,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
3,P1000,37,1,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
4,P101,46,1,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High

In [ ]:
data.isnull().sum()

In [ ]:
data.drop(columns = 'Patient Id', axis = 1, inplace= True)
data['Level'].replace('Medium','High',inplace=True)
data['Level'].replace('High','1',inplace=True)
data['Level'].replace('Low','0',inplace=True)
data['Level'] = pd.to_numeric(data['Level'])
data.head()

In [ ]:
xdf = data.drop('Level',axis = 1)
ydf = data['Level']
logistic=LogisticRegression()
decision=DecisionTreeClassifier()
randomforest=RandomForestClassifier(n_estimators=100, criterion = 'gini', random_state=1)
knn=KNeighborsClassifier()
svm=SVC(probability=True)
x_train,x_test,y_train,y_test=train_test_split(xdf,ydf,test_size=0.35,random_state=20)
mms=MinMaxScaler(feature_range=(0,1))
x_train=mms.fit_transform(x_train)
x_test=mms.fit_transform(x_test)
x_train=pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)

In [ ]:
models=[logistic,decision,randomforest,knn,svm]

In [ ]:
for i in range(1):
    name=['Logistic Regression', 'Decision Tree', 'Random Forest',  'KNN', 'SVM']
    acc=[]
    mae=[]
    for algo in models:
        algo.fit(x_train,y_train)
        predictions=algo.predict(x_test)
        TP, FN, FP, TN = confusion_matrix(y_test,predictions,labels=[1,0]).reshape(-1)
        acy = round((TP+TN)/(TP+FP+TN+FN), 3)
        acc.append(round(acy*100, 2))
        mae.append(mean_absolute_error(y_test,predictions))
    data={"Model":name,"Accuracy":acc,"Mean Absolute Error":mae}
    result=pd.DataFrame(data)
    display(result)

In [ ]:
from sklearn.model_selection import cross_val_score
def main(Age,Gender,AirPollution,Alcoholuse,DustAllergy,OccuPationalHazards,GeneticRisk,chronicLungDisease,BalancedDiet,Obesity,Smoking,PassiveSmoker,ChestPain,CoughingofBlood,Fatigue,WeightLoss,ShortnessofBreath,Wheezing,SwallowingDifficulty,ClubbingofFingerNails,FrequentCold,DryCough,Snoring):
  url="https://raw.githubusercontent.com/ADITHYASNAIR2021/Dataset-cart/main/Lung%20Cancer.csv"
  data = pd.read_csv(url)
  print(data.head())
  data.drop(columns = 'Patient Id', axis = 1, inplace= True)
  data['Level'].replace('Medium','High',inplace=True)
  data['Level'].replace('High','1',inplace=True)
  data['Level'].replace('Low','0',inplace=True)
  data['Level'] = pd.to_numeric(data['Level'])
  X = data.drop('Level',axis = 1)
  y = data['Level']
  X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.25)
  Log_reg = LogisticRegression(fit_intercept=True,C=1e15,solver='newton-cg',max_iter=300,penalty='l2',multi_class='ovr')
  Log_reg.fit(X_train,y_train)
  Log_pred = Log_reg.predict(X_test)
  lor_accuracy = accuracy_score(y_test,Log_pred)
  logreg = LogisticRegression(max_iter=1500)
  scores_Log = cross_val_score(logreg , X_train , y_train , cv=20)
  scores_Log = scores_Log.mean()
  data = {'Age':Age,'Gender':Gender,'AirPollution':AirPollution,'Alcoholuse':Alcoholuse,'DustAllergy':DustAllergy,'OccuPationalHazards':OccuPationalHazards,'GeneticRisk':GeneticRisk,'chronicLungDisease':chronicLungDisease,'BalancedDiet':BalancedDiet,'Obesity':Obesity,'Smoking':Smoking,'PassiveSmoker':PassiveSmoker,'ChestPain':ChestPain,'CoughingofBlood':CoughingofBlood,'Fatigue':Fatigue,'WeightLoss':WeightLoss,'ShortnessofBreath':ShortnessofBreath,'Wheezing':Wheezing,'SwallowingDifficulty':SwallowingDifficulty,'ClubbingofFingerNails':ClubbingofFingerNails,'FrequentCold':FrequentCold,'DryCough':DryCough,'Snoring':Snoring}
  index = [0]
  cust_df = pd.DataFrame(data, index)
  costpredLog = Log_reg.predict(cust_df)
  if costpredLog ==0:
    Prediction = "There is less chance for the patient to catch with Cancer"
  else:
    Prediction = "There is more of a chance for the patient to catch Cancer."

  return  Prediction

In [ ]:
iface = gr.Interface(fn = main,
                     
inputs =['number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number','number'],

outputs =['text'],

title="Onset of Cancer prediction",

description ='''   The cancer like lung, prostrate, and colorectal cancers contribute up to 45% of cancer deaths. 
So it is very important to detect or predict before it reaches to serious stages. If cancer predicted in its early stages, 
then it helps to save the lives. Statistical methods are generally used for classification of risks of cancer i.e. high risk or low risk. 
Sometime it becomes difficult to handle the complex interactions of highdimensional data.

every element in this input will be under a scale of 1 to 10 , as part of self estimation you can give the inputs
''',

examples=[[20,1,2,5,2,2,1,2,2,1,2,2,2,2,1,2,2,1,2,2,2,2,1],[5,2,2,5,1,3,2,3,5,2,2,5,1,3,2,3,5,2,2,5,6,3,2]]

)

iface.launch(debug = True, share=True)